
<div class="container mt-5"   style="width: 50%;  border: 2px solid black;">
  <form (ngSubmit)='saveemployee()' >
   <div class="form-group">
      <label for="id"></label> 
     <input type="number" name="id" id="id" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]='emp.department_id'>
      <small id="helpId" class="text-muted">Department-id</small> 
    </div> 
      <div class="form-group">
            <label for="name"></label>
            <input type="text" name="name" id="name" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]='emp.de_name'>
            <small id="helpId" class="text-muted">name</small>
        </div>
        <div class="form-group">
                <label for="gender"></label>
                <input type="text" name="gender" id="gender" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]='emp.groupname'>
                <small id="helpId" class="text-muted">Groupname</small>
            </div>
           
                <div class="form-group">
                        <label for="dat"></label>
                        <input type="date" name="dateofbirth" id="dat" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]='emp.modified_date'>
                        <small id="helpId" class="text-muted">Modified date</small>
                    </div>

                   <button type="submit" class="btn btn-primary" >submit</button>
                      </form>
</div>